@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{}
body{
    overflow-x: hidden;}
/* navbar styling start*/

nav{
  background: rgba(128, 197, 191, 0.6);
  padding: 10px 40px 10px 70px;
  border: 2.7px solid rgba(128, 197, 191, 0.6);
  border-left: none;
  border-right: none;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover{
  color: cyan;
}
.button{
    display: none;
  }

@media screen and (max-width: 800px){
  .button{
    display: block;
  }
  nav ul div.items{
    position: fixed;
    top: -280px;
    right: 0;
    width: 100%;
    background: linear-gradient(#80c5bf99, rgba(235, 235, 235, 0.1));
    display: inline-block;
    transition: top .4s;
    
  }
  nav ul div.items.show{
    top: 60px;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
    

  }
  nav ul div.items li a{
    font-size: 19px;
  }
}
/* end of navbar styling */

/* style description */
.description{ 
    background-image: linear-gradient(#80c5bf99, rgba(235, 235, 235, 0.1));
    color: white;
    padding-bottom: 6%;
}
#check-hotels{
    padding: 6% 0;
}
#display-photo{
    width: 40VW;
    padding: 4% 0;
}
@media screen and (max-width: 990px){
  #display-photo{
    width: 100vw;
  }
}
.hotel-photo{
    width: 70%;
}
.hotel-description{
    padding: 0 12%;
}
.hotels-available{
    padding: 3% 16%;
}

/* footer section */
.contact-section{
    background: linear-gradient(rgba(235, 235, 235, 0.1),#80c5bf99);
}
#footer-1{
    display: flex;
    justify-content: space-around;
}
.footer{
    padding-top: 50px;
}
.footer-3{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-3 .fa{
/* padding-top: 28px; */
font-size: 18px;
padding-bottom: 30px;
float: inline-start;

}
.footer-2{
    text-align: center;
}
