#navbarNav {
    /* padding: 20px 20px; */
    /* margin: 20px 20px; */
}
.nav-item {
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.nav-item a {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
#nav-a{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Lobster', cursive;
}
.nav-item a:hover{
    color: rgb(0, 0, 0);
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }
.test{
    padding:50px;
    background-color: red;
}
.home{
    text-align: right;
}
.sign{
    text-align: center;
}
body{
    background-image: url(../images/hotels.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat:no-repeat;
    width: 100%;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrong-password{
    padding: 2% 5%;
    color: red;
    background-color: aliceblue;
    text-align: center;
    display: none;
}
#reload-page{
    background: rgb(34, 34, 34);
    color: white;
    width: 20vw;
    border-radius: 10%;
}